header{
    padding-top: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.case{
    height: 30px;
    text-align: center;
}


.checkbox{
    text-align: center;
}
.submit{
    text-align: center;
}

footer{

    background-color: black;
    position: fixed;

    height: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

}