.nFound{
    background-image: url("/public/Error 404.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute}

