*{

    margin: 0;

}


header{
    background-color: rgb(0, 0, 0);
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
}

.navHome li{
    float: right;
    margin: 30px;
    text-decoration: none;
}

.ull{
    text-decoration: none;
}

.welcome {
    margin-top: 450px;
    text-align: center;
    color: #eeca07;
    font-family: "Baskerville Old Face";
    text-transform: capitalize;
    position: relative;

}
.tex{
    font-size: 50px;
    font-palette: light;

}


footer{

    background-color: black;
    position: fixed;
    height: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

}
.backG{
    background-image: url("/public/simpleh.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
position: fixed}

.stars{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background: url(); */
    background-position-x:center ;
    background-size: cover;
    animation: animateBg 5s linear infinite;

}
@keyframes animateBg
{
    0%,100%
    {
        transform: scale(1);
    }
    50%
    {
        transform: scale(1.2);
    }
}

/* heigh and with est la taille des stars */
span{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1),
    0 0 20px rgba(255, 255, 255, 1);
    animation: animate 3s linear infinite;

}

span::before{
    content: '';
    position: absolute;
    top: 50%;
    width: 300px;
    height: 1px;
    background:linear-gradient(90deg,#fff,transparent);
    transform: translateY(-50%);
}

@keyframes animate {
    0%{
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }

}

span:nth-child(1){
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0;
    animation-duration: 1s;

}

span:nth-child(2){
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: -0.2s;
    animation-duration: 1s;

}
span:nth-child(3){
    top: 0;
    right: 50px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;

}
span:nth-child(4){
    top: 0;
    right: 160px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.4s;

}
span:nth-child(5){
    top: 0;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;

}

span:nth-child(6){
    top: 0;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;

}
span:nth-child(7){
    top: 0;
    right: 1000px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.7s;

}
span:nth-child(8){
    top: 700px;
    right: 0px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.7s;

}
span:nth-child(9){
    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.24s;

}
span:nth-child(10){
    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 0.56s;
    animation-duration: 1.7s;

}
span:nth-child(11){
    top: 800px;
    right: 0px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 1.7s;

}

footer{

    background-color: black;
    position: fixed;

    height: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

}
