/* Styles par défaut */
.fa-container {
    display: flex;
    height: 900px;
    position: fixed;
    background-color: white;
}

.side {
    flex: 0 0 300px; 
}

.main-content {
    flex: 1;
    padding: 20px; 
}





/* Media Queries pour les écrans de petite taille */
@media screen and (max-width: 768px) {
    .fa-container {
        flex-direction: column; 
    }

    .side {
        flex: none; 
        width: 100%; 
    }

    .main-content {
        flex: none; 
        width: 100%; 
    }

  

  
}
