.fa-container {
    display: flex;
    background-image: url('../components/img/galax.jpg');
}

.side {
    flex: 0 0 300px; 
}

.main-content {
    flex: 1;
    padding: 20px; 
}

.faq-active {
    background-color: blueviolet;
    margin-top: 70px;
    padding: 50px;
    border-radius: 50px;
    position: relative;
    transition: transform 0.5s ease; 
    border: 5px solid white;
}

.faq-active:hover {
    transform: translateX(20px); 
}


.faq-titre, .faq-reponse{
    font-size: 25px;

}
