<<<<<<< HEAD
.footer {
    background-color: transparent;
    width: 100%;
    padding: 50px;
    position: fixed;
    bottom: 0;
    box-shadow: 10px 10px 10px 10px rgba(1, 0, 1, 0.2);
}

.bas-page, .info{
    color: white;
    text-decoration: none;
    
}



 
  
.info-border {
    font-size: 20px;
    position: relative; 
    color: white;
    text-decoration: none;
}

.info-border::after {
    content: '';
    position: absolute; 
    left: 0; 
    bottom: -4px; 
    width: 0; 
    height: 4px; 
    background-color: rebeccapurple; 
    transition: width 0.3s ease; 
}

.info-border:hover::after {
    width: 100%; 
}
  
@media  screen and (max-width:  768px) {
    .info-border{
        margin-right: 20px;
    }
    
=======
.footer{
    background-color: black;
    width: 100%;
    padding: 50px;
    position:  absolute;
    bottom: 0;
    box-shadow: 10px 10px 10px 10px rgba(1, 0, 1, 0.2);

}

.bas-page, .info{
    font-size: 15px;
    color: rgb(152, 76, 110);
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin-left: 200px;
}

.border{
    border: 2px;
}

.copyright{
    text-align: center;
>>>>>>> origin/Rachel
}