.footer {
    background-image: url('../components/img/galax2.jpg');
    width: 100%;
    padding: 50px;
    position: fixed;
    bottom: 0;
    box-shadow: 10px 10px 10px 10px rgba(1, 0, 1, 0.2);
}

.bas-page, .info{
    color: white;
    text-decoration: none;
    
}



 
  
.info-border {
    font-size: 20px;
    position: relative; 
    color: white;
}

.info-border::after {
    content: '';
    position: absolute; 
    left: 0; 
    bottom: -4px; 
    width: 0; 
    height: 4px; 
    background-color: rebeccapurple; 
    transition: width 0.3s ease; 
}

.info-border:hover::after {
    width: 100%; 
}
  