.footer{
    background-color: black;
    width: 100%;
    padding: 50px;
    position:  absolute;
    bottom: 0;
    box-shadow: 10px 10px 10px 10px rgba(1, 0, 1, 0.2);

}

.bas-page, .info{
    font-size: 15px;
    color: rgb(152, 76, 110);
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin-left: 200px;
}

.border{
    border: 2px;
}

.copyright{
    text-align: center;
}