.sidemenu{
    background-color: rgb(34, 5, 49);
    padding: 50px;
    box-shadow: 10px 10px 10px 10px rgba(160, 6, 216, 0.2);
    width: 400px;
    height: 1900px;
}

.notfoundquestions{
    margin-top: 200px;
    
}


input[type="text"]:focus {
    border-color: purple; 
    outline: none; 
    box-shadow: 0 0 5px purple; 
}

.send-msg{
    background-color: black;
    padding: 5px;
}

